body {
  color: #0056b3;

  aside {
    width: 100%;
    height: 100%;
    background-color: #fff;
    .common {
      margin-bottom: 30px;
      width: 100%;
      min-height: 100%;
      // background-color: rgb(170, 170, 170);
      .pg-frame {
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-height: 100vh;
        position: relative;
      }
    }
  }

  .title {
    font-family: "Slabo 27px", serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #1433de 33%, #10c3da 66%, #03d9f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      text-shadow: 6px -1px 4px;
    }
  }

  .text {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    background: linear-gradient(45deg, #2196f3 33%, #374ecc 33%, #00bcd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-outline-primary {
    color: currentColor;
    border-color: currentColor;
  }

  .to-up {
    position: fixed;
    bottom: -100%;
    right: 30px;
    width: 48px;
    height: 48px;
    border: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    color: currentColor;
    font-size: 32px;

    &:hover {
      width: 48px;
      height: 48px;
      border: 3px solid currentColor;
      border-radius: 15px;
      text-decoration: none;
      font-size: 30px;
    }
    &.show {
      transition: 0.5s;
      bottom: 8px;
    }
    .fas {
      color: #ff0000;
    }
  }
}
//...H.E.A.D.E.R...
header {
  background-color: #0062cc;
  .navbar {
    .navbar-brand {
      color: #fff;
    }
    .collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #fff;
            opacity: 1;
            margin: 0 10px;
            &:hover {
              color: rgb(0, 255, 255);
            }
          }
        }
      }
    }
  }
}

// ...H.O.M.E...
.home-pg {
  width: 100%;
  background-image: url(../img/ligth_work_place.jpg);
  background-size: cover;
  background-position: center 0%;

  .home-information {
    position: absolute;
    top: 55%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
    opacity: 0;
  }

  title {
    color: #fff;
    text-shadow: 0px 2px 3px #2d2d2d;
  }
}

// ...A.B.O.U.T...
.about-pg {
  width: 100%;

  .about-information {
    width: 100%;
    height: 80%;
    padding-top: -5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/illustration.png);
    background-size: 35%;
    background-position: 100% 95%;
    background-repeat: no-repeat;
  }

  .title {
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-transform: translateY(-50px) scale(0);
    transform: translateY(-50px) scale(0);
    -webkit-transition: transform 0.7s;
    transition: transform 0.7s;
  }

  .aboutTitleVisible {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateX(0px) scale(1);
  }

  .title-box {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    width: 60%;
    padding: 3%;
  }

  .my-contacts {
    width: 100%;
    height: 20%;
    display: flex;
    // justify-content: center;
    .items {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .item {
        font-family: "Slabo 27px", serif;
        font-size: 24px;
        background: linear-gradient(45deg, #1433de 33%, #10c3da 66%, #03d9f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .img-about {
    position: absolute;
    top: 5%;
    left: 25%;
  }
}

//...S.K.I.L.L...
.skill-pg {
  width: 100%;
  background-image: url(../img/);
  background-size: cover;
  background-position: center center;

  .skill-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .skill-info {
    width: 100%;
    height: 10%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .percent {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 800;
    background: linear-gradient(45deg, #000 33%, #0b2349 66%, #0d61bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .boxs {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .skill-box {
    width: 570px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .instrumental-box {
    width: 570px;
    height: 540px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .skill__info {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-items {
    width: 570px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
    width: 100%;
    min-width: 300px;
    list-style: none;
  }

  .img-slill-box {
    padding: 15px;
    width: 160px;
    border: 1px solid currentColor;
    margin: 20px;
    border-radius: 45px;
    background: #0056b30a;
  }

  .skills-bar-container {
    position: relative;
    width: 570px;
    height: 340px;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    // -webkit-transform: translateY(-50px) scale(0);
    // transform: translateY(-50px) scale(0);
    -webkit-transition: transform 0.7s;
    transition: transform 0.7s;

    .aboutTitleVisible {
      -webkit-transform: translateY(0px) scale(1);
      transform: translateX(0px) scale(1);
    }

    li {
      $progressbar-color: #34495e;
      width: 100%;
      margin-bottom: 20px;

      .progressbar-title {
        color: currentColor;
        margin-bottom: 5px;

        h3 {
          display: inline-block;
          
      font-family: "Slabo 27px", serif;
        }

        .percent {
          position: absolute;
          right: 20px;
          font-size: 1.1em;
        }
      }

      .bar-container {
        background: #9e9e9e;
        position: relative;
        width: 100%;
        height: 5px;

        .progressbar {
          background: currentColor;
          position: absolute;
          width: 0%;
          height: 100%;
        }
      }
    }
  }
}

//...W.O.R.K...
.work-pg {
  width: 100%;
  background-image: url(../img/);

  .work-information {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .work-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-box {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
  }

  a.img {
    display: flex;
    justify-content: center;
  }

  .work-img {
    height: 100%;
    min-width: 100%;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .work-item {
    width: 100%;
    height: 100%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
  }

  .slider__control_left {
    width: 4%;
    height: 100%;
    left: 0;
  }

  .slider__control_right {
    width: 4%;
    height: 100%;
    right: 0;
  }

  .slider__control::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url(../img/icon/left.jpg);
  }

  .slider__control_right::before {
    background-image: url(../img/icon/right.jpg);
  }
}

//...C.O.N.T.A.C.T...
.contact-pg {
  background-attachment: scroll;

  .contact-information {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Group.png);
    background-size: 25%;
    background-position: 100% 80%;
    background-repeat: no-repeat;
  }

  .img-contact {
    width: 30%;
    position: absolute;
    left: 70%;
    top: 50%;
  }

  .contact-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-box {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-form {
      width: 40%;
      height: 100%;
      .form-lebel {
        color: currentColor;
      }
      .form-control {
        min-height: 60px;
        padding-left: 3%;
        border-width: 3px;
        border-color: currentColor;
        border-radius: 15px;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: currentColor;
      }
      .btn-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

//...F.O.O.T.E.R...
footer {
  background: #000;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-pg {
    font-family: "PT Serif", serif;
    text-align: center;
    color: #fff;
  }
  .fa-heart {
    color: #ff0000;
    margin: 0 5px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  body {
    color: #0056b3;

    aside {
      width: 100%;
      height: 100%;
      background-color: #fff;
      .common {
        .pg-frame {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          position: relative;
        }
      }
    }

    .title {
      text-align: center;
      font-family: "Slabo 27px", serif;
      font-size: 24px;
      text-transform: uppercase;
      background: linear-gradient(45deg, #1433de 33%, #10c3da 66%, #03d9f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        text-shadow: 6px -1px 4px;
      }
    }

    .text {
      font-family: "Playfair Display", serif;
      font-size: 16px;
      background: linear-gradient(45deg, #2196f3 33%, #374ecc 33%, #00bcd4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .btn-outline-primary {
      color: currentColor;
      border-color: currentColor;
    }

    .to-up {
      position: fixed;
      bottom: -100%;
      right: -100px;
      width: 48px;
      height: 48px;
      border: 3px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-self: center;
      color: currentColor;
      font-size: 32px;

      &:hover {
        width: 48px;
        height: 48px;
        border: 3px solid currentColor;
        border-radius: 15px;
        text-decoration: none;
        font-size: 30px;
      }
      &.show {
        transition: 0.5s;
        bottom: 8px;
      }
      .fas {
        color: #ff0000;
      }
    }
  }
  //...H.E.A.D.E.R...
  header {
    background-color: #0062cc;
    .navbar {
      .navbar-brand {
        color: #fff;
      }
      .collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: #fff;
              opacity: 1;
              margin: 0 10px;
              &:hover {
                color: rgb(0, 255, 255);
              }
            }
          }
        }
      }
    }
  }

  // ...H.O.M.E...
  .home-pg {
    width: 100%;
    background-image: url(../img/ligth_work_place.jpg);
    background-size: cover;
    background-position: 80% 95%;
    background-repeat: no-repeat;

    .home-information {
      position: absolute;
      top: 55%;
      width: 100%;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      text-align: center;
      opacity: 0;
    }

    title {
      color: #fff;
      text-shadow: 0px 2px 3px #2d2d2d;
    }
  }

  // ...A.B.O.U.T...
  .about-pg {
    width: 100%;

    .about-information {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-image: url(../img/illustration.png);
      background-size: 70%;
      background-position: 80% 95%;
      background-repeat: no-repeat;

      .title {
        max-width: 100%;
        margin-bottom: 20px;
        -webkit-transform: translateY(-50px) scale(0);
        transform: translateY(-50px) scale(0);
        -webkit-transition: transform 0.7s;
        transition: transform 0.7s;
      }

      .aboutTitleVisible {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateX(0px) scale(1);
      }

      .title-box {
        width: 100%;
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
      }

      .text-box {
        width: 100%;
        padding: 3%;
      }

      .img-about {
        position: absolute;
        top: 2%;
        left: 35%;
      }
    }

    .my-contacts {
      width: 100%;
      height: 20%;
      display: flex;
      .items {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .item {
          width: 100%;
          font-family: "Slabo 27px", serif;
          font-size: 16px;
          background: linear-gradient(45deg, #1433de 33%, #10c3da 66%, #03d9f5);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  //...S.K.I.L.L...
  .skill-pg {
    width: 100%;
    background-image: url(../img/);
    background-size: cover;
    background-position: center center;

    .skill-information {
      width: 96%;
      margin: 0 2%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
    }

    .skill-info {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .boxs {
      width: 100%;
      height: 90%;
      display: flex;
      flex-wrap: wrap;
    }

    .skill__info {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
    }

    .skill-box {
      width: 100%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }

    .instrumental-box {
      width: 96%;
      margin: 0 2%;
      height: 50%;
    }

    .percent {
      font-family: "Playfair Display", serif;
      font-size: 16px;
      font-weight: 800;
      background: linear-gradient(45deg, #000 33%, #0b2349 66%, #0d61bc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .skill-items {
      width: 100%;
      height: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: flex-start;
      position: relative;
      list-style: none;
      .skill-item-box {
        width: 35%;
        height: 35%;
        margin: 5%;
      }
    }

    .img-slill-box {
      margin: 0;
      padding: 5%;
      width: 100%;
      border: 2px solid currentColor;
      border-radius: 30px;
      background: #fff;
    }

    .skills-bar-container {
      position: relative;
      width: 100%;
      height: auto;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      // -webkit-transform: translateY(-50px) scale(0);
      // transform: translateY(-50px) scale(0);
      -webkit-transition: transform 0.7s;
      transition: transform 0.7s;

      .aboutTitleVisible {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateX(0px) scale(1);
      }

      li {
        $progressbar-color: #34495e;
        width: 100%;
        margin-bottom: 20px;

        .progressbar-title {
          color: currentColor;
          margin-bottom: 5px;

          h3 {
            display: inline-block;
            font-size: 16px;
          }

          .percent {
            position: absolute;
            right: 20px;
            font-size: 1.1em;
          }
        }

        .bar-container {
          background: #9e9e9e;
          position: relative;
          width: 100%;
          height: 5px;

          .progressbar {
            background: currentColor;
            position: absolute;
            width: 0%;
            height: 100%;
          }
        }
      }
    }
  }

  //...W.O.R.K...
  #work {
    width: 100%;
    height: 70vh;

    .work-information {
      padding: 20% 0 0;
      width: 100%;
      height: 50%;
    }

    .work-info {
      width: 100%;
      height: 25%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .work-box {
      width:96%;
      height: 75%;
      background: #000;
    }
    .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      $height: 100%;
      $width: 100%;
      border-radius: 0;

      .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
        width: $width;
        height: $height;

        .slider__item {
          flex: 0 0 100%;
          width: $width;
          height: $height;

          .work-item {
            width: $width;
            height: $height;

            a {
              display: flex;
              justify-content: center;
              width: $width;
              height: $height;

              .work-img {
                width: $width;
                height: $height;
              }
            }
          }
        }
      }
    }
    .slider__control {
      position: absolute;
      top: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 40px;
      opacity: 0.5;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 1;
    }

    .slider__control_left {
      left: 0%;
    }

    .slider__control_right {
      right: 0%;
    }

    .slider__control::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url(../img/icon/left.jpg);
    }

    .slider__control_right::before {
      background-image: url(../img/icon/right.jpg);
    }
  }

  //...C.O.N.T.A.C.T...
  .contact-pg {
    background-attachment: scroll;
    .contact-information {
      width: 96%;
      margin: 0 2%;
      height: 100%;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../img/Group.png);
      background-size: 50%;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }

    .img-contact {
      width: 30%;
      position: absolute;
      left: 70%;
      top: 50%;
    }

    .contact-info {
      width: 100%;
      height: 25%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .contact-box {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contact-form {
        width: 90%;
        height: 100%;
        .form-lebel {
          color: currentColor;
        }
        .form-control {
          width: 100%;
          min-height: 20px;
          padding-left: 3%;
          border-width: 3px;
          border-color: currentColor;
          border-radius: 15px;
          display: block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: currentColor;
        }
        .btn-box {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  //...F.O.O.T.E.R...
  footer {
    background: #000;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-pg {
      font-family: "PT Serif", serif;
      text-align: center;
      color: #fff;
    }

    .fa-heart {
      color: #ff0000;
      margin: 0 5px;
    }
  }
}
